@import url('https://fonts.googleapis.com/css2?family=Della+Respira&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Della Respira', serif;
    font-size: 20px;
    margin: 0;
}

.big-text {
    font-size: 64px;
    font-weight: 900;
}

span{
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}